.title {
  padding: 10px;
  font-family: "cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  background-color: #575757;
  font-size: 20rem;
  margin: 0rem;
  text-align: start;
  line-height: 19rem;
  font-weight: 100;
}
.subtitle {
  color: grey;
  background-color: #575757;
  margin: 0;
}
