.App {
  text-align: center;
}
.Footer {
}
.end {
  text-align: end !important;
  line-height: 1;
}

a {
  text-decoration: none;
  color: darkgrey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
